.login {
  min-height: 100vh;
  position: relative;
  background-image: url('../../assets/imgs/login_bg.jpeg');
  background-size: cover;
  .login-box {
    top: 200px;
    margin: 0 auto !important;
    &:hover {
      background-color: rgba(255, 255, 255, 0.068) !important;
    }
    label {
      color: #fff;
    }
  }
}
